<% layout('layouts/boilerplate') %>
  <h1><%= cafe.title %> </h1>
  <h1> <%= cafe.location%> </h1>
  <img src="<%= cafe.image %>" alt="">
  <p><%= cafe.description %></p>
  <p>
    <a href="/cafes/<%=cafe._id%>/edit">Edit</a>
  </p>

  <p>
    <form action="/cafes/<%= cafe._id %>?_method=DELETE" method="POST">
      <button> Delete </button>
    </form>
  </p>
  <footer> 
    
    <a href="/cafes">All Cafes</a>
  </footer>
